Ever wondered how we can take one element each from two different lists and make them as a pair and put them in a new list? Well this concept apart from being interesting is very useful in many specialization areas. Let’s get introduced to zip function in Python in the Following order:

In [1]:
list1 = [23, 22, 25]
list2 = ['Eng', 'SS', 'Maths']

# Zip the two lists
zipped = zip(list2, list1)

print(zipped)
print(type(zipped))
# Convert the zipped object to a list of tuples
zipped_list = list(zipped)

print(zipped_list)

<zip object at 0x000001FE56B95840>
<class 'zip'>
[('Eng', 23), ('SS', 22), ('Maths', 25)]

In [6]:
for item in zipped_list: 
    print(item)

(23, 'Eng')
(22, 'SS')
(25, 'Maths')

In [17]:
zipped_list = [(23, 'Eng'), (22, 'SS'), (25, 'Maths')]

# Unzip the list of tuples
unzipped = zip(*zipped_list)
print(unzipped)
print(type(unzipped))
# Convert the unzipped object to separate lists
unzipped_list1, unzipped_list2 = list(unzipped)

print(unzipped_list1)
print(unzipped_list2)

<zip object at 0x0000016E894F2FC0>
<class 'zip'>
(23, 22, 25)
('Eng', 'SS', 'Maths')

In [18]:
first_names = ['Jane', 'John', 'Jennifer']
last_names = ['Doe', 'Williams', 'Smith']
ages = [20, 40, 30]
names_and_ages = list(zip(first_names, last_names, ages))
print(names_and_ages)
print(type(names_and_ages))

[('Jane', 'Doe', 20), ('John', 'Williams', 40), ('Jennifer', 'Smith', 30)]
<class 'list'>

In [19]:
names_and_ages = [('Jane', 'Doe', 20), ('John', 'Williams', 40), ('Jennifer', 'Smith', 30)]

In [20]:
names_and_ages

[('Jane', 'Doe', 20), ('John', 'Williams', 40), ('Jennifer', 'Smith', 30)]

In [21]:
unzip=zip(*names_and_ages)
unzip_list1,unzip_list2,unzip_list3 =list(unzip)

In [22]:
print(unzip_list1)
print(unzip_list2)
print(unzip_list3)

('Jane', 'John', 'Jennifer')
('Doe', 'Williams', 'Smith')
(20, 40, 30)

In [8]:
# Passing in one argument to zip()

first_names = ['Jane', 'John', 'Jennifer']
print(list(zip(first_names)))

[('Jane',), ('John',), ('Jennifer',)]

#### Iterables with unequal lengths


What if we pass in lists (or other iterable objects) of unequal lengths? In other words, let’s say that our last_names list contains 1 more element than first_names. Well, as mentioned above, the iterator returned by the zip() function will stop once the shortest input iterable has been exhausted. In other words, our list of tuples will only contain the elements from the indexes that are present in all the iterables passed in to the zip() function. Thus, the remaining elements in the longer iterables will be ignored.

In [23]:
first_names = ['Jane', 'John', 'Jennifer']
last_names = ['Doe', 'Williams', 'Smith', 'Jones']
full_names = list(zip(first_names, last_names))
print(full_names)

[('Jane', 'Doe'), ('John', 'Williams'), ('Jennifer', 'Smith')]

  If the elements in the longer iterables are needed, then we can use the itertools.zip_longest() (zip_longest() function located in the itertools module) function instead of zip(). It will continue until the longest iterable is exhausted, and will replace any missing values with the value passed in for the fillvalue argument (default is None).

In [25]:
from itertools import zip_longest

first_names = ['Jane', 'John', 'Jennifer']
last_names = ['Doe', 'Williams', 'Smith', 'Jones', 'Ringrose']

# Zip the iterables using zip_longest
full_names = list(zip_longest(first_names, last_names, fillvalue=''))

print(full_names)

[('Jane', 'Doe'), ('John', 'Williams'), ('Jennifer', 'Smith'), ('', 'Jones'), ('', 'Ringrose')]

In [24]:
from itertools import zip_longest

first_names = ['Jane', 'John', 'Jennifer']
last_names = ['Doe', 'Williams', 'Smith', 'Jones']

# Zip the iterables using zip_longest
full_names = list(zip_longest(first_names, last_names, fillvalue=None))

print(full_names)

[('Jane', 'Doe'), ('John', 'Williams'), ('Jennifer', 'Smith'), (None, 'Jones')]

Parallel Iteration of Iterables

We can use the zip() function to iterate in parallel over multiple iterables. Since the zip() function returns an iterator, we can use this zip object (the iterator it returns) in a for loop. And since with each iteration of this iterator a tuple is returned, we can unpack the elements of this tuple within the for loop:

In [12]:
first_names = ['Jane', 'John', 'Jennifer']
last_names = ['Doe', 'Williams', 'Smith']
for first, last in zip(first_names, last_names):
    print(first, last)

Jane Doe
John Williams
Jennifer Smith

Or we can have three iterables:

In [13]:
first_names = ['Jane', 'John', 'Jennifer']
last_names = ['Doe', 'Williams', 'Smith']
ages = [20, 40, 30]
for first, last, age in zip(first_names, last_names, ages):
    print(f'{first} {last} is {age} years old')

Jane Doe is 20 years old
John Williams is 40 years old
Jennifer Smith is 30 years old

Another example of parallel iteration:

We have two lists: a list of revenues and a list of costs. We would like to make a new list, profits, that is the difference between the revenues and costs. We can accomplish this using parallel iteration:

In [27]:
revenue = [300, 500, 700, 900]
cost = [100, 150, 200, 300]
profit = []
total_profit = 0
for revenue, cost in zip(revenue, cost):
    profit.append(revenue - cost)
    total_profit = total_profit + revenue - cost
    print(total_profit)
print('Final profit', profit)
print('Final total profit', total_profit)

200
550
1050
1650
Final profit [200, 350, 500, 600]
Final total profit 1650

Unzipping in python

In [16]:
first_and_last_names = [('Jane', 'Doe'), ('John', 'Williams'), ('Jennifer', 'Smith')]

And we want to separate the elements in these tuples into two separate lists. Well, since that is the opposite of zipping (bringing things together), it would be unzipping (taking things apart). To unzip in python, we can use the unpacking operator * with the zip() function as follows:

In [17]:
first_names, last_names = zip(*first_and_last_names)
first_names = list(first_names)
last_names = list(last_names)
print(first_names)
print(last_names)

['Jane', 'John', 'Jennifer']
['Doe', 'Williams', 'Smith']

The unpacking operator * will unpack the first_and_last_names list of tuples into its tuples. These tuples will then be passed to the zip() function, which will take these separate iterable objects (the tuples), and combines their same-indexed elements together into tuples, making two separate tuples. Lastly, through tuple unpacking, these separated tuples will be assigned to the first_names and last_names variables. We then use the list() function to convert these tuples into lists.

In [18]:
pwd

'C:\\Users\\SevenMentor\\1A. Python'

In [8]:
def example(a, b):
    print(a, type(a))
    print(b, type(b))

In [9]:
example(10,23.67)

10 <class 'int'>
23.67 <class 'float'>

In [11]:
example((0, 1), 2)

(0, 1) <class 'tuple'>
2 <class 'int'>

In [16]:
example(*(90,20.56, 78))

TypeError: example() takes 2 positional arguments but 3 were given

In [2]:
sub = ['a', 'b','c']
marks = [7, 9, 8]

In [4]:
zipped_object = zip(sub,marks)

In [5]:
type(zipped_object)

zip

In [6]:
result = list(zipped_object)
print(result)

[('a', 7), ('b', 9), ('c', 8)]